registry=https://artifactory.arsenal.mgmt4apps.io/artifactory/api/npm/keringtech-npm-eagle-custom-front-aws-master/
//artifactory.arsenal.mgmt4apps.io/artifactory/api/npm/keringtech-npm-eagle-custom-front-aws-master/:_authToken=PASTE_YOUR_ARTIFACTORY_TOKEN_HERE
