[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = true
[core]
  excludesfile = ~/.gitignore_global
[include]
  path = ~/.gitconfig_secret
[help]
	autocorrect = 1
[credential]
	helper = osxkeychain
